.spacer {
  flex: 1 1 auto;
}

.btn {
  margin-right: 10px;
}

.logo {
  text-decoration: none;
  color: #000;
}

.logo img {
  vertical-align: middle;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}
