<md-toolbar class="fixed">
  <a routerLink="/index" routerLinkActive="active" class="logo">
    <img src="assets/logo.png" width="36">
    GitLab
  </a>
  <span class="spacer"></span>
  <a color="primary" class="btn" routerLink="/settings" routerLinkActive="active" md-mini-fab><md-icon>settings</md-icon></a>
</md-toolbar>
<router-outlet></router-outlet>
