md-spinner {
  width: 50px;
  height: 50px;
  margin: 10px auto;
}

.update {
  position: absolute;
  right: 10px;
  top: 50px;
  z-index: 2;
}

#fountainG {
  position: relative;
  width: 80px;
  height: 10px;
  margin: 20px auto 10px;
}

.fountainG {
  position: absolute;
  top: 0;
  background-color: rgb(63, 81, 181);
  width: 10px;
  height: 10px;
  animation-name: bounce_fountainG;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  transform: scale(.3);
  border-radius: 12px;
}

#fountainG_1 {
  left: 0;
  animation-delay: 0.6s;
}

#fountainG_2 {
  left: 11px;
  animation-delay: 0.75s;
}

#fountainG_3 {
  left: 22px;
  animation-delay: 0.9s;
}

#fountainG_4 {
  left: 33px;
  animation-delay: 1.05s;
}

#fountainG_5 {
  left: 44px;
  animation-delay: 1.2s;
}

@keyframes bounce_fountainG {
  0% {
    transform: scale(1);
    background-color: rgb(63, 81, 181);
  }
  100% {
    transform: scale(.3);
    background-color: rgb(255, 255, 255);
  }
}

@-o-keyframes bounce_fountainG {
  0% {
    -o-transform: scale(1);
    background-color: rgb(63, 81, 181);
  }
  100% {
    -o-transform: scale(.3);
    background-color: rgb(255, 255, 255);
  }
}

@-ms-keyframes bounce_fountainG {
  0% {
    -ms-transform: scale(1);
    background-color: rgb(63, 81, 181);
  }
  100% {
    -ms-transform: scale(.3);
    background-color: rgb(255, 255, 255);
  }
}

@-webkit-keyframes bounce_fountainG {
  0% {
    -webkit-transform: scale(1);
    background-color: rgb(63, 81, 181);
  }
  100% {
    -webkit-transform: scale(.3);
    background-color: rgb(255, 255, 255);
  }
}

@-moz-keyframes bounce_fountainG {
  0% {
    -moz-transform: scale(1);
    background-color: rgb(63, 81, 181);
  }
  100% {
    -moz-transform: scale(.3);
    background-color: rgb(255, 255, 255);
  }
}
