<button [disabled]="loading" (click)="update()" color="primary" class="btn update" md-mini-fab><md-icon>refresh</md-icon></button>
<md-tab-group (selectChange)="tabChanged($event)" [dynamicHeight]="true">
  <md-tab>
    <template md-tab-label>
      Active<span *ngIf="activeTotal !== null"> ({{activeTotal}})</span>
    </template>
    <div id="fountainG" *ngIf="activeLoading">
      <div id="fountainG_1" class="fountainG"></div>
      <div id="fountainG_2" class="fountainG"></div>
      <div id="fountainG_3" class="fountainG"></div>
      <div id="fountainG_4" class="fountainG"></div>
      <div id="fountainG_5" class="fountainG"></div>
    </div>
    <md-list>
      <app-todo *ngFor="let todo of active" [todo]="todo" (remove)="doneTodo($event)"></app-todo>
    </md-list>
  </md-tab>
  <md-tab>
    <template md-tab-label>
      Done<span *ngIf="doneTotal !== null"> ({{doneTotal}})</span>
    </template>
    <div id="fountainG" *ngIf="doneLoading">
      <div id="fountainG_1" class="fountainG"></div>
      <div id="fountainG_2" class="fountainG"></div>
      <div id="fountainG_3" class="fountainG"></div>
      <div id="fountainG_4" class="fountainG"></div>
      <div id="fountainG_5" class="fountainG"></div>
    </div>
    <md-list>
      <app-todo *ngFor="let todo of done" [todo]="todo" (remove)="doneTodo($event)"></app-todo>
    </md-list>
  </md-tab>
</md-tab-group>
