<md-list-item *ngIf="todo">
  <img md-list-avatar [src]="todo.author.avatar_url" [alt]="todo.author.name">
  <p md-line>
    <a target="_blank" [href]="todo.author.web_url" (click)="openUrl($event)">{{todo.author.name}}</a> {{getAction(todo.action_name)}}
    {{getTargetType(todo.target_type)}} <a target="_blank" [href]="todo.target_url" (click)="openUrl($event)">{{todo.project.path_with_namespace}}!{{todo.target.iid}}</a>  · {{todo.created_at | amTimeAgo: true}} </p>
  <p md-line>{{todo.body}}</p>
  <button md-icon-button color="primary" (click)="doneTodo(todo.id)" *ngIf="todo.state !== 'done'">
    <md-icon>done</md-icon>
  </button>
</md-list-item>
