<md-list>
  <md-list-item>
    <md-input-container>
      <input mdInput placeholder="Host" [required]="true" type="url" [value]="settings.hostname" (change)="update($event, settingsSaveType.Host)">
    </md-input-container>
  </md-list-item>
  <md-list-item>
    <md-input-container>
      <input mdInput placeholder="Token" [required]="true" [value]="settings.token" (change)="update($event, settingsSaveType.Token)">
    </md-input-container>
  </md-list-item>
</md-list>
